{% extends "shop/boiler_plate.html" %}
{% load static %}
{% load i18n %}
{% load allauth %}
{% block title %}
    Sign In
{% endblock title %}
{% block head_link %} <link rel="stylesheet" href="{% static 'css/style.css' %}">{% endblock head_link %}
{% block body %}
    <div class="conainer container-mt-5">
    <div class="card card-shadow p-4 mt-4 mx-auto" style="max-width: 450px;">
    {% if process == "connect" %}
        <h1 class="text text-center">
        Connect {{ provider }}
        </h1>
        <p class="text">
            You are about to connect a new third-party account from {{ provider }}.
        </p>
    {% else %}
        <h1 class="text text-center">
            Sign In Via {{ provider }}
        </h1>
        <p class="text">
            You are about to sign in using a third-party account from {{ provider }}.
        </p>
    {% endif %}
    <form method="post" no_visible_fields=True >
     
            {% csrf_token %}
            <button type="submit" class="btn btn-primary">
                Continue
            </button>

    </form>
    </div>
    </div>
{% endblock body %}
