{% extends "shop/boiler_plate.html" %}
{% block title %} new content {% endblock title %}
{% block body %}
{% if messages %}
{% for message in messages %}
<div class="alert alert-{{message.tags}}" role="alert">{{ message }}</div>
{% endfor %}
{% endif %}
<div class="py-4 container">
  <h3 class="text text-center">Add Items to Your Shop</h3>
<form class="py-4 d-flex" action="{% if product %}{% url 'update_product' product.id %}{% else %}{% url 'save_content' %}{% endif %}" method="post" enctype="multipart/form-data">
  {% csrf_token %}
  <div class="col-md-6 me-2">
  <div class="form-group">
    <label for="category">Category</label>
    <select class="form-select" name="category" id="category" required>
      <option {% if product %}value="{{ product.category }}"{% else %} value="" {% endif %} selected>{% if product %}{{ product.category }} {% else %} Choose Category {% endif %}</option>
      <option value="electronics">Electronics</option>
      <option value="clothing">Clothing</option>
      <option value="electric">Electric</option>
      <option value="book">Book</option>
      <option value="homeware">Home-Ware</option>
      <option value="kitchenware">Kitchen-Ware</option>
      <option value="skin_personal_care">Skin & Personal Care</option>
    </select>
  </div>
  <label for="sub_category">
    Sub Category
    <select class="form-select" name="sub_category" id="sub_category" required>
      <option {% if product %}value="{{ product.sub_category }}" {% else %} value="" {% endif %} selected>{% if product %}{{ product.sub_category }} {% else %} Choose Sub-Category {% endif %}</option>
    </select>
  </label>
  <div class="form-group">
    <label for="title">Title</label>
    <input type="text" {% if product %}value="{{ product.title }}" {% endif %} name="title" class="form-control" id="title" placeholder="title" required>
  </div>
  <div class="form-group">
    <label for="summary">Summary</label>
    <textarea name="summary" id="summary" class="form-control" placeholder="summary" required> {% if product %}{{ product.summary }} {% endif %}</textarea>
  </div>
</div>
<div class="col-md-6 mx-2">
  <div class="form-group">
    <label for="publisher">Publisher</label>
    <input type="text" name="publisher" {% if product %}value="{{ product.publisher }}" {% endif %} class="form-control" id="publisher" placeholder="publisher">
  </div>
  <div class="form-group">
    <label for="date">Date</label>
    <input type="date" name="date" {% if product %}value="{{ product.date }}" {% endif %} class="form-control" id="date" placeholder="date">
  </div>
  <div class="form-group">
    <label for="price">Price</label>
    <input type="number" step="0.01" {% if product %}value="{{ product.price }}" {% endif %} name="price" class="form-control" id="price" placeholder="price" required>
  </div>
  <div class="form-group">
    Chose one option to add image:
    <br>
    <label for="image">image file</label>
    <input type="radio" name="img-option" value="file" {% if product.image %}checked{% endif %} required>
    <label for="image_url">image url</label>
    <input type="radio" {% if product.image_url %}checked{% endif %} name="img-option" value="url" required>
  </div>
  <div class="form-group" id="image_selector">
    {% if product.image %}
    <input type="file" class="form-control" name="image" value="{{ product.image.url }}" id="image">
    {% endif %}
    {% if product.image_url %}
    <input type="url" class="form-control" name="image_url" value="{{ product.image_url }}" id="image_url">
    {% endif %}
  </div>
  <p style="color: red;" id="img_url_error"></p>
  <div class="form-check">
    <input type="checkbox" class="form-check-input" id="exampleCheck1" required>
    <label class="form-check-label" for="exampleCheck1">yes i want to add this item</label>
  </div>
</div>
<button type="submit" class="btn btn-primary {% if product %}btn-warning{% endif %} position-relative right">{% if product %}Update{% else %}Submit{% endif %}</button>
</form>
</div>
<script>
  $(document).ready(function(){
  const cat =document.getElementById("category");
  const sub_category=document.getElementById("sub_category");
  console.log("script running");
  
  cat.addEventListener("click",function(){
    if(cat.value=='electronics'){
      sub_category.innerHTML="<option value='smartphone'>Smartphones</option><option value='laptop'>Laptops</option><option value='camera_and_photo'>Camera & Photo</option><option value='Phone_and_aceessories'>Cell Phone Accessories</option><option value='wearable_technologies'>Wearable Technology</option><option value='Audio'>Audio</option>"
    }
    else if(cat.value=='clothing'){
      sub_category.innerHTML="<option value='women'>Women</option><option value='men'>Men</option><option value='girl'>Girls</option><option value='boy'>Boys</option><option value='baby'>Baby</option><option value='accessory'>Accessories</option>"
    }
    else if(cat.value=='electric'){
      sub_category.innerHTML="<option value='tv_and_video'>TV & Video</option><option value='home_audio'>Home Audio</option><option value='headphones'>Headphones</option><option value='wearable_technologies'>Wearable Technology</option><option value='car_electric'>Car Electric</option>"
    }
    else if(cat.value=='book'){
      sub_category.innerHTML="<option value='literature_and_fiction'>Literature & Fiction</option><option value='children_s_books'>Children's Books</option><option value='textbooks'>Textbooks</option><option value='comics_and_graphic_novels'>Comics & Graphic Novels</option><option value='history'>History</option>"
    }
    else if(cat.value=='homeware'){
      sub_category.innerHTML="<option value='furniture'>Furniture</option><option value='bedding'>Bedding</option><option value='bath'>Bath</option><option value='home_decor'>Home Decor</option><option value='storage_and_organization'>Storage & Organization</option>"
    }
    else if(cat.value=='kitchenware'){
      sub_category.innerHTML="<option value='cookware'>Cookware</option><option value='furniture'>Furniture</option><option value='dinnerware'>Dinnerware</option><option value='kitchen_tools_and_gadgets'>Kitchen Tools & Gadgets</option><option value='small_appliances'>Small Appliances</option><option value='food_storage'>Food Storage</option>"
    }
    else if(cat.value=='skin_personal_care'){
      sub_category.innerHTML="<option value='makeup'>Makeup</option><option value='skin_care'>Skin Care</option><option value='hair_care'>Hair Care</option><option value='fragrance'>Fragrance</option><option value='personal_care_appliances'>Personal Care Appliances</option>"
    }
  });
  });
   function image_validation(image_name)
  {
    return (image_name.endsWith(".jpg") || image_name.endsWith(".jpeg") || image_name.endsWith(".png") || image_name.endsWith(".webp"))
  }
  const image_selector=document.getElementById("image_selector");
  const img_url_error=document.getElementById("img_url_error");
  $('input[name="img-option"]').change(function(){
      if($(this).val()==="file"){
        image_selector.innerHTML=`<label for="image">Image</label><input type="file" name="image" class="form-control" id="image" placeholder="image" required></div>`;
        const image=document.getElementById("image");
        image.addEventListener("input",()=>{
          if(!image_validation(image.value))
        {
          img_url_error.innerText="please enter a valid url";
        }
        else{
          img_url_error.innerText="";
        }
      });
    }
    else if($(this).val()==="url"){
      image_selector.innerHTML=` <label for="image_url">Image Url</label><input type="url" name="image_url" class="form-control" id="image_url" placeholder="image url" required></div>`;
      const image_url=document.getElementById("image_url");
      image_url.addEventListener("input",()=>{
        if(!image_validation(image_url.value))
        {
          img_url_error.innerText="please enter a valid url";
        }
        else{
          img_url_error.innerText="";
        }
        });
      }
      });
 
  
  // console.log(image);
  
  //   if(image)
  //   {
  //   console.log("entered image validation");
  //   if(!image_validation(image.value))
  //   {
  //     image_selector.appendChild("<p style='color:red'>please enter a valid image url</p>");
  //   }
  // }
  // else if(image_url)
  // {
  //   console.log("entered image url validation");
  //   if(!image_validation(image_url.value))
  // {
  //   image_selector.appendChild("<p style='color:red'>please enter a valid image url</p>");
  // }
  // }
</script>
{% endblock body %}