{% extends "shop/boiler_plate.html" %}
{% block title %} Myshop Shop {% endblock title %}
{% block body %}
<!-- if there is any error or message we are showing them at top -->
{% if messages %}
{% for message in messages %}
<div class="alert alert-{{message.tags}}" role="alert">{{ message }}</div>
{% endfor %}
{% endif %}
<!-- welcome message -->
{% if user.is_authenticated %}
<p>Welcome, {{ user.username }}!</p>
{% else %}
<p>Welcome, Guest! Please <a href="{% url 'login' %}">login</a> or <a href="{% url 'register' %}">register</a>.</p>
{% endif %}
<!-- carousel slider -->
<input type="radio" class="hide" id="search_performed" {% if search_performed %} checked value="on" {% else %} value="off" {% endif %} aria-hidden="true">

{% if category_groups %}
<div id="product-container">
<div id="main-container" class="container-fluid m-3 mx-1">
  {% for category, curr_items in category_groups.items %}
  <h3>{{category}}</h3>
  <div id="Latest-{{category}}" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-indicators">
      {% for i in curr_items %}
      <!-- <p>{{ forloop.counter0 }}</p> -->
      <button type="button" data-bs-target="#Latest-{{category}}" data-bs-slide-to="{{ forloop.counter0 }}"
        class="{%if forloop.first %}active{% endif %}" {% if forloop.first %}aria-current="true"{% endif %} aria-label="Slide {{ forloop.counter0 }}"></button>
      {% endfor %}
    </div>
    <div class="carousel-inner">
      {% for items in curr_items %}
      <div class="carousel-item {% if forloop.first %}active{% endif %}">
        <div class="row p-3">
          {% for item in items %}
          <div class="card col-md-3">
            <img class="card-img-top" src="{{ item.get_img_url }}" alt="{{ item.title }}"/>
            <div class="card-body">
              <h5 class="card-title">{{ item.title }}</h5>
              <p class="card-text">{{ item.summary }}</p>
              <p class="left">₹{{ item.list_price }}</p>
              <small class="right">{{ item.publisher }}</small>
            <button type="button" id="{{item.id}}" class="cart cart-{{item.category}} btn btn-outline-danger" role="button">Add to Cart</button>  
            </div>
          </div>
          {% endfor %}
        </div>
      </div>
      {% endfor %}
    </div>
    <button class="carousel-control-prev" data-bs-target="#Latest-{{category}}" role="button" data-bs-slide="prev">
      <span class="carousel-control-prev-icon bg-secondary" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" data-bs-target="#Latest-{{category}}" role="button" data-bs-slide="next">
      <span class="carousel-control-next-icon bg-secondary" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>
  {% endfor %}
</div>
{% endif %}
<div id="other-products" class="container-fluid row">
  {% include 'shop/partial_products_list.html' with categories=categories %}
</div>
</div>
<div id="loading-sentinal" class="text-center my-4">
<div class="spinner-border text primary" role="status">
 </div>
</div>
<!-- carousel slider ends -->
 <script>
$("#product-container").on("click",'.cart',function(){
  console.log("cart button pressed...");
  var item_id=this.id;
  $.ajax({
    url:'add_to_cart/',
    type:'POST',
    headers:{"X-CSRFToken":"{{csrf_token}}"},
    data:{
      "product_id":item_id,
    },
    success: function(response){
      alert("item added successfully");
    }
  });
});

$(document).ready(function(){
search_performed=document.getElementById("search_performed");
const sentinal=document.querySelector("#loading-sentinal");
if(search_performed.value=="off"){
let page=1;
const container=document.querySelector("#other-products");
const observer= new IntersectionObserver((element)=>{
  if(element[0].isIntersecting){
    LoadProducts();
  }
 });
observer.observe(sentinal);
function LoadProducts(){
  page++;
  fetch(`/?page=${page}`,{
    headers:{"X-Requested-With":"XMLHttpRequest"},
  }).then(response=>response.json()).then(result=>{
    if(result.html){
      container.insertAdjacentHTML("beforeend",result.html);
    }
    if(!result.has_next){
      observer.unobserve(sentinal);
      sentinal.style.display="none";
      $("#product-container").append("<p style='font-size:25px; font-weight:bold;color:#7A838A;text-align:center;'>I think, you have reached the end.</p>");
    }
  }).catch(err=>{
    console.error("items fetch failed ",err);
  });
}
}
else{
  sentinal.style.display="none";
  console.log("search performed...");
}
});
</script>

{% endblock body %}
