{% extends "shop/boiler_plate.html" %}
{% block title %} Register {% endblock title %}
{% block body %}
{% if messages %}
{% for message in messages %}
<div class="alert alert-{{ message.tags }}">{{ message }}</div>
<!-- { %} -->
{% endfor %}
{% endif %}
<section class="vh-100" style="background-color: #eee;">
  <div class="container h-100">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col-lg-12 col-xl-11">
        <div class="card text-black" style="border-radius: 25px;">
          <div class="card-body p-md-5">
            <div class="row justify-content-center">
              <div class="col-md-10 col-lg-6 col-xl-5 order-2 order-lg-1">

                <p class="text-center h1 fw-bold mb-5 mx-1 mx-md-4 mt-4">Sign Up</p>

                <form action="{% url 'register' %}" method="post" class="mx-1 mx-md-4">
                  {% csrf_token %}
                   <div class="d-flex flex-row align-items-center mb-4">
                    <i class="fas fa-envelope fa-lg me-3 fa-fw"></i>
                    <div data-mdb-input-init class="form-outline flex-fill mb-0">
                      <input type="text" name="username" placeholder="Your Username" id="username" class="form-control" required/>
              
                    </div>
                  </div>
                  <div class="d-flex flex-row align-items-center mb-4">
                    <i class="fas fa-envelope fa-lg me-3 fa-fw"></i>
                    <div data-mdb-input-init class="form-outline flex-fill mb-0">
                      <input type="email" name="email" placeholder="Your Email" id="email" class="form-control" required/>
                    </div>
                  </div>
                  <div class="d-flex flex-row align-items-center mb-4">
                    <i class="fas fa-envelope fa-lg me-3 fa-fw"></i>
                    <div data-mdb-input-init class="form-outline flex-fill mb-0">
                      <input type="tel" name="contact" placeholder="contact" id="contact" class="form-control" required/>
                    </div>
                  </div>

                  <div class="d-flex flex-row align-items-center mb-4">
                    <i class="fas fa-lock fa-lg me-3 fa-fw"></i>
                    <div data-mdb-input-init class="form-outline flex-fill mb-0">
                      <input type="password" name="password" placeholder="Your Password" id="password" class="form-control" required/>
                    </div>
                  </div>

                  <div class="d-flex flex-row align-items-center mb-4">
                    <i class="fas fa-key fa-lg me-3 fa-fw"></i>
                    <div data-mdb-input-init class="form-outline flex-fill mb-0" id="re_password_box">
                      <input type="password" name="re_password" placeholder="retype password" id="re_password" class="form-control" required/>
                      <p id="password_error" style='display:none; color:red;'> passwords do not match!</p>
                    </div>
                  </div>

                  <div class="form-check d-flex justify-content-center mb-5">
                    <span><input class="form-check-input me-2" type="checkbox" value="on" name="terms" id="terms" required/></span>
                    <label class="form-check-label" for="form2Example5c">
                      I agree all statements in <a href="#!">Terms of service</a>
                    </label>
                  </div>
                  <div class="form-check d-flex justify-content-center mb-5">
                    <label class="form-check-label" for="form2Example6c">
                        already have an account <a href="{% url 'login_view' %}">login!</a>
                    </label>
                  </div>
                  <div class="d-flex justify-content-center mx-4 mb-3 mb-lg-4">
                    <button  type="submit" data-mdb-button-init data-mdb-ripple-init class="btn btn-primary btn-lg">Register</button>
                  </div>
                </form>

              </div>
              <div class="col-md-10 col-lg-6 col-xl-7 d-flex align-items-center order-1 order-lg-2">
                <img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-registration/draw1.webp"
                  class="img-fluid" alt="Sample image">
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<script>
  document.getElementById("re_password").addEventListener("keyup",function(){
      var password=document.getElementById("password").value;
      var re_password=document.getElementById("re_password").value;
    if(password!=re_password){
    //  document.getElementById("re_password_box").appendChild(document.createElement("span")).innerHTML="";
     document.getElementById("password_error").style.display="block";
    }
    else{
      document.getElementById("password_error").style.display="none";
    }
    console.log("outed");
  });
</script>

{% endblock body %}